/* Font selection */
body {
	background-color: var(--color-grey-light);
	color: var(--color-black);
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-size: 1em;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	
	/* Variables */
	--color-black: #000;
	--color-white: #fff;
	--color-grey-light: #f1f1f1;
	--color-grey: #c1c1c1;
	--color-grey-dark: #a8a8a8;
	
	--color-blue-light: #bbdefb;
	--color-blue: #2196f3;
	--color-red-light: #ffcdd2;
	--color-red: #f44336;
}
.text {
	padding: 0 16px;
}
h1 {
	font-size: 24px;
}
/* Disable text selection */
.disableSelection {
	user-select: none;
}
.disableSelection:hover {
    cursor: pointer;
}

/* Speech section */
#speech {
	height: 480px;
	border-radius: 0 0 28px 0;
}
/* Record */
#record {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 56px;
	width: 56px;
	
	background-color: var(--color-red);
	border-radius: 28px 0 28px 0;
	box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15);
	
	z-index: 100;
}
#record i {
	color: var(--color-white);
	font-size: 48px;
	padding: 6px 0 0 5px;
}
/* Messenger */
#messenger {
	list-style-type: none;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
	height: calc(100% - 56px);
}
#messenger li {
	margin: 16px 10px;
	max-width: 80%;
}
#messenger li div {
	display: inline-block;
	color: var(--color-white);
	padding: 8px 12px;
}
#messenger .self {
	margin-left: auto;
	text-align: right;
}
#messenger .self div {
	background-color: var(--color-red);
	border-radius: 16px 16px 0 16px;
}
#messenger .self div .interm {
	color: var(--color-red-light);
	font-style: italic;
}
#messenger .other {
	margin-right: auto;
	text-align: left;
}
#messenger .other div {
	background-color: var(--color-blue);
	border-radius: 16px 16px 16px 0;
}

/* Language section */
#languages {
	height: 480px;
}
#languages .search {
	background-color: var(--color-grey-light);
	border: 0;
	font-size: 1.2em;
	padding: 4px 8px;
	width: calc(100% - 16px);
}
#languages .search:focus {
	outline: none;
}
#languages ul {
	height: calc(100% - 8px - 30px);
	list-style-type: none;
	margin: 0;
	overflow-y: scroll;
	padding: 4px 0 4px 0;
}
#languages ul li {
	padding: 4px 0 4px 8px;
}
#languages ul li:hover {
	background-color: var(--color-grey-light);
}
#languages ul li[selected] {
	color: var(--color-white);
	background-color: var(--color-grey);
}
#languages ul li[selected]:hover {
	background-color: var(--color-grey-dark);
}