/* Variables */
:root {
	--white: #fff;
	--black: #000;
	
	--grey-light: #f1f1f1;
	--grey: #c1c1c1;
	--grey-dark: #a8a8a8;
	
	--theme: #f44336;
	--theme-light: #ff7961;
	--theme-dark: #ba000d;
	
	--navigation-height: 60px;
	
	--row-padding: 2rem;
	--column-padding: 2rem;
	
	--button-size: 2.5rem;
}

/* Hide element */
[hide] {
	display: none;
}
/* Disable text selection */
.disableSelection {
	user-select: none;
}
.disableSelection:hover {
    cursor: pointer;
}

/* Base settings */
body {
	background-color: var(--white);
	color: var(--black);
	
	font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
a {
	color: var(--theme);
	text-decoration: underline;
}
a:hover {
	color: var(--theme-dark);
}

/* Text sizes and spacing */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 2px 0;
	
	text-align: left;
}
p {
	text-align: justify;
}
h1 {
	margin: 24px 0 0 0;
	
	font-size: 1.25rem;
    text-transform: uppercase;
}
h2 {
	margin: 16px 0 0 0;
	
	font-size: 1.1rem;
}
h3, h4, h5, h6, p {
	margin: 12px 0 0 0;
	
	font-size: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
	margin-top: 0;
}

/* Horizontally scrollable navigation bar */
nav.navigation {
	position: relative;
	min-height: var(--navigation-height);
	
	user-select: none;
}
nav.navigation > .content {
	position: fixed;
	min-height: var(--navigation-height);
	width: 100%;
	z-index: 2;
	
    white-space: nowrap;
    overflow: auto;
	
	background-color: var(--white);
}
nav.navigation > .content::-webkit-scrollbar { 
    display: none;
}
nav.navigation > .content > ul {
	position: absolute;
	top: 50%;
	bottom: 0%;
	transform: translateY(-50%);
	padding: 0 1rem;
	margin: 0;
	
    overflow: auto;
}
nav.navigation > .content > ul::-webkit-scrollbar { 
    display: none;
}
nav.navigation > .content > ul > li {
	display: inline-block;
	padding: 0px 8px;
	vertical-align: middle;
}
nav.navigation > .content > ul > li > a {
	color: inherit;
	font-size: 1.2rem;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
}
/* Gradient */
nav.navigation > .content > .gradient {
	position: fixed;
	height: 42px;
	width: 32px;
	top: 7px;
	right: -32px;
	
	color: var(--white);
	box-shadow: -24px 0 16px;
}

/* Main */
.container {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}
.container .row {
	width: 100%;
	max-width: 1280px;
	padding: 0;
	margin: 0 auto;
	
	padding: 0 0 var(--row-padding) var(--column-padding);
	margin: 0 auto;
}
.container .row [class*="col-"] {
	padding: 0 var(--column-padding) 0 0;
	margin-bottom: var(--column-padding);
}
body > .container > .row {
	min-height: calc(100vh - var(--navigation-height));
}

/* List */
body .container .row [class*="col-"] ul {
	padding: 0;
	
	list-style: none;
}

/* Buttons */
ul.buttons {
	display: table;
	min-height: var(--button-size);
	width: auto;
	margin: 0 auto;
}
ul.buttons > li {
	display: inline-block;
	height: var(--button-size);
	width: var(--button-size);
	padding: 0 0.5rem;
}
ul.buttons > li:first-child {
	padding-left: 0;
}
ul.buttons > li:last-child {
	padding-right: 0;
}
/* Button */
.button {
	position: absolute;
	height: var(--button-size);
	width: var(--button-size);
	
	background-color: var(--theme);
	border-radius: calc(var(--button-size) / 4);
	font-size: calc(var(--button-size) / 4 * 3);
	
	transition: background-color 0.5s ease;
}
.button:hover {
	background-color: var(--theme-light);
}
.button > * {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: var(--white);
}
button > *:hover {
	color: var(--white);
}

/* Footer */
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	
	font-weight: 300;
	font-size: 1rem;
	text-align: right;
	
	user-select: none;
}
footer a {
	color: var(--grey);
	font-weight: inherit;
	text-decoration: overline;
}
footer a:hover {
	color: var(--grey-dark);
}
